* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/*HEADER*/
nav {
    background: #423F3E;
    padding: 10px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
}

.nav-enlace {
    font-family: cursive;
    font-size: 15px;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
}

.nav-enlace:hover {
    background: #395B64;
    color: red;
}

.nav-enlace:active {
    background: #B8E8FC;
}

.artesanias {
    font-size: 20px;
    font: bold;
    font-family: cursive;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.btn-menu {
    background: #ffff;
    color: black;
    padding: 10px 30px;
    display: none;
    border-radius: 10px;

}
/*CATEGORIA DE PRODUCTOS*/
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}

.titulo{

    color: rgb(23, 68, 66);
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: cursive;
    text-align: center;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;

}
    
.titulo-img{
    color: rgb(58, 45, 49);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(78, 148, 50, 0.7);
    font-family: cursive;
    padding-bottom: 10px;
    

}

.portafolio{
    background: #f2f2f2;
}

.galeria-portafolio{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.img-portafolio{
    box-shadow: black;
}
.about-product{
    border-top: 3px solid black;
}
.titulo-productos{
    color: rgb(58, 45, 49);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(78, 148, 50, 0.7);
    font-family: cursive;
    padding-bottom: 10px;
}
.about-product .contenedor> .Texto-productos p{

    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 300;
    padding-top: 5px;
    text-align: justify;
    

}
/*PIE DE PÁGINA*/
footer {
    background: #414141;
    padding: 20px 0 30px 0;
    margin: auto;
    overflow: hidden;
}


.contenedor-final-diseñado {

    text-align: center;
    font-style: italic;
    font-size: 30px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

.contenedor-final-derechos {

    text-align: center;
    font-size: 12px;
    margin: 0 10px 0 0;
    color: #9e9797;
}

/*MODELO RESPONSIVE*/
@media (max-width: 800px) {
    nav {
        background: #423F3E;
        flex-direction: column;
    }

    nav ul li {
        background: #423F3E;
        display: block;
        font-weight: 40px;
        text-align: center;
    }

    .btn-menu {
        display: inline-block;
        padding: 10px 30px;
        margin: 10px;

    }

    .desaparece {
        display: none;
    }

    li a:hover,
    li a.active {
        background: none;
        color: red;
    }
}